:root {
    /* Define your varible */
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;
    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

#header {
    text-align: center;
}

body {
    background-color: var(--color-grey-light-1) ;
    font-family: arial, sans-serif ;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    
}
tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    border: none;
    border-radius: 4px;
    padding: 8px;
}

.edit {
    background-color: lightgreen;
    color: white;
}

.edit:hover {
    background-color: rgb(77, 224, 8);
    color: white;
}

.edit:active {
    background-color: lightgreen;
    color: white; 
}

.delete {
    background-color: var(--color-primary-light);
    color: white;
}

.delete:hover {
    background-color: var(--color-primary);
    color: white;
}

.delete:active {
    background-color: var(--color-primary-light);
    color: white;
}

#add {
    background-color: rgb(51, 84, 233);
    color: white;
}

#add:hover {
    background-color: rgb(85, 114, 243);
    color: white;
}

#add:active {
    background-color: rgb(51, 84, 233);
    color: white;
}

#popup {
     height: 100vh;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgba(0,0,0,.8);
    /*  display: none; */
}

#popup__content {
    width: 75%;
    height: 50rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}